<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
<div th:fragment="side(activeTab)">
    <div class="sidebar" data-color="blue" data-image="../../images/full-screen-image-2.jpg">
        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="logo">
            <a href="http://www.i1Solutions.co.za" >
                <!--<div style="color:white;font-size: xx-large;">i1Solutions</div>-->
                <img src="../../images/i1Solutions.png"/>
            </a>
        </div>
        <div class="logo logo-mini">
            <a href="www.i1Solutions.co.za" class="logo-text">
                i1
            </a>
        </div>

        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="../../images/XMLTest.png"/>
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        Test Utility
                    </a>

                </div>
            </div>

            <ul class="nav">
                <li th:class="${activeTab == 'index'}? 'active' : null">
                    <a href="index.html" th:href="@{~/index}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>


                <li th:class="${activeTab == 'nodes'}? 'active' : null">
                    <a href="config.html" th:href="@{~/config}">
                        <i class="pe-7s-hourglass"></i>
                        <p>Config</p>
                    </a>
                </li>


                <li th:class="${activeTab == 'maps'}? 'active' : null">
                    <a href="tests.html"  th:href="@{~/tests}">
                        <i class="pe-7s-map-marker"></i>
                        <p>All Tests</p>
                    </a>
                </li>


                <li th:class="${activeTab == 'help'}? 'active' : null">
                    <a href="help.html"  th:href="@{~/help}">
                        <i class="pe-7s-help1"></i>
                        <p>Help</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

</body>
</html>