<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head>
        <div th:replace="fragments/header :: header-css"/>
    </head>
</head>

<body>

<div class="wrapper">
    <div th:replace="fragments/sidebar :: side('maps')"/>

    <div class="main-panel">

        <div th:replace="fragments/navbar :: navbar"/>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">
                            Test Details<br/>
                            <small>
                                UUID
                            </small>
                        </h3>
                        <div class="card card-plain">
                            <div class="content">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="card">

                        <div class="header">
                            <legend>Test Details</legend>
                        </div>

                        <div class="content">
                            <div th:each="det : ${detail}">
                                <div class="typo-line">
                                    <p><span class="category">Sequence</span>
                                    <div th:text="${det.sequencenumber}"/>
                                    </p>
                                </div>
                                <div class="typo-line">
                                    <p><span class="category">Expected response</span>
                                        <textarea class="form-control" th:text="${det.expectedresponsedata}" placeholder="..." rows="5"></textarea>
                                    </p>
                                </div>
                                <div class="typo-line">
                                    <p><span class="category">Actual response</span>
                                        <textarea class="form-control" th:text="${det.responsedata}" placeholder="..." rows="5"></textarea>
                                    </p>
                                </div>
                                <div class="typo-line">
                                    <p><span class="category">Difference</span>
                                    <div th:text="${det.difference}"/>
                                    </p>
                                </div>
                                <div class="typo-line">
                                    <p><span class="category">Identical</span>
                                    <div th:text="${det.problem}"></div>
                                    </p>
                                </div>
                                <hr/>
                            </div>

                        </div>
                    </div>  <!-- end card -->
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"/>
    </div>
</div>

</body>

<div th:replace="fragments/footer :: script"/>


<script>

</script>

</html>
