<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head>
        <div th:replace="fragments/header :: header-css"/>
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.4/dist/js/tabulator.min.js"></script>
        <link href="../../css/tabulator_bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>

    </head>
</head>
<body>

<div class="wrapper">
    <div th:replace="fragments/sidebar :: side('calendar')"/>

    <div class="main-panel">

        <div th:replace="fragments/navbar :: navbar"/>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                Tests for project <div th:text="${project}" />
                            </div>

                            <div id="test" class="table">
                                <div id="example-table"></div>
                            </div>

                        </div>
                    </div>
                    <div col-md-6 col-md-offset-3>
                        <button class="btn btn-primary btn-fill btn-wd" id="download-xlsx">Download XLSX
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"/>


    </div>
</div>

</body>

<div th:replace="fragments/footer :: script"/>


<script th:inline="javascript">


    //trigger download of data.xlsx file
    $("#download-xlsx").click(function () {
        table.download("xlsx", "data.xlsx", {sheetName: "My Data"});
    });

    var table = new Tabulator("#example-table", {
        height: 600, // set height of table to enable virtual DOM
        ajaxURL: "/api/tests/[(${project})]",
        movableRows: true,
        responsiveLayout: true,
        pagination: "local",
        paginationSize: 12,
        layout: "fitColumns", //fit columns to width of table (optional)
        columns: [ //Define Table Columns

            {
                title: "Id", field: "testRunUuid", sorter: "string", width : "60",
                formatter: "link", formatterParams: {
                    labelField: "sid",
                    urlPrefix:  "/details/",
                }
            },
            {title: " Run Date", field: "testRunDatetime", sorter: "string", headerFilter: true},
            {
                title: "Project", field: "projectName", sorter: "string", headerFilter: true,
            },

            {title: " Sequence", field: "sequenceNumber", sorter: "string", width: "50"},
            {
                title: " problem",
                field: "problem",
                align: "center",
                formatter: "tickCross",
                width: "40",
                headerFilter: true
            },
            {title: " difference", field: "difference", sorter: "string", headerFilter: true},
            {title: " UUID", field: "testRunUuid", sorter: "string",  headerFilter: true ,responsive: 3},


        ],
    });
</script>

</html>
